@import url(http://fonts.googleapis.com/css?family=Nobile:400,700);
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Nobile', sans-serif; }

.section {
  min-height: 100vh; }

#logo {
  width: 95%;
  max-width: 1300px; }

.splash.section {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%; }
  .splash.section .down-arrow {
    border-radius: 50%;
    border: 2px solid #FC611F;
    color: #FC611F;
    /* height: 1em; */
    padding: 0 15px;
    font-size: 3em;
    text-decoration: none; }
  .splash.section .title {
    padding-top: 13%;
    text-align: center;
    color: #FFFFFF; }
    .splash.section .title h1 {
      font-size: 8em;
      color: white;
      /* Fallback: assume this color ON TOP of image */
      background: url(../img/plain.jpg) no-repeat;
      background-size: cover;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 0;
      padding: 10px 0; }
    .splash.section .title p {
      color: #56BDBC; }

.about.section {
  background-color: #E9F8F5;
  background-image: url(../img/dust.png);
  color: #353535;
  padding: 30px 0;
  text-align: center;
  height: 100%; }
  .about.section .container {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 800px; }
    .about.section .container .icon {
      display: inline-block;
      margin: 35px 50px; }
      .about.section .container .icon img {
        width: 130px; }
    .about.section .container .start {
      text-decoration: none;
      background-color: #F83D70;
      padding: 15px 30px;
      color: #E9F8F5;
      border-radius: 3px;
      font-size: 1.2em;
      margin: 20px;
      display: block;
      max-width: 110px;
      margin: 100px auto; }
  .about.section h1 {
    padding-top: 15%;
    margin: 0;
    color: #1D63BD; }

.list.section {
  text-align: center; }
  .list.section ul {
    list-style: none; }
    .list.section ul li {
      padding: 15px;
      width: 180px;
      display: inline-block;
      vertical-align: top;
      background-color: #8DE9E3;
      font-weight: bold; }
      .list.section ul li p {
        font-weight: normal; }
  .list.section .container {
    margin-top: 50px; }
  .list.section .title {
    padding: 10px 0;
    text-align: center;
    color: #E9F8F5;
    text-shadow: 2px 1px 2px #353535;
    background: url(../img/banner_dark.jpg) no-repeat;
    background-size: cover; }
    .list.section .title h1 {
      font-size: 2.5em; }
