@import url(http://fonts.googleapis.com/css?family=Nobile:400,700);

$light: #E9F8F5;
$water: #1D63BD;
$teal: #56BDBC;
$orange: #FC611F;
$red: #FC3225;
$lime: #B9FD3E;
$pink: #F83D70;
$sky: #8DE9E3;
$night: #353535;

body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: 'Nobile', sans-serif;
}
.section {
	min-height: 100vh;
}

#logo {width: 95%; max-width: 1300px;}

.splash.section {
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  .down-arrow {
	  border-radius: 50%;
	  border: 2px solid $orange;
	  color: $orange;
	  /* height: 1em; */
	  padding: 0 15px;
	  font-size: 3em;
	  text-decoration: none;
  }
  .title {
  	padding-top: 13%; 
  	text-align: center;
  	color: #FFFFFF;
  	h1 {
			font-size: 8em;
			color: white;  /* Fallback: assume this color ON TOP of image */
			background: url(../img/plain.jpg) no-repeat;
			background-size: cover;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			margin: 0;
			padding: 10px 0;
	 	}
	 	p {color: $teal;}
  }
}

.about.section {
	background-color: $light;
	background-image: url(../img/dust.png);
	color: $night;
	padding: 30px 0;
	text-align: center;
	height: 100%;
	.container {
		display: block;
		margin: 0 auto;
		width: 90%;
		max-width: 800px;
		.icon{
		  display: inline-block;
		  margin: 35px 50px;
		  img {
		  	width: 130px;
		  }
		}
	.start {
		text-decoration: none;
		background-color: $pink;
		padding: 15px 30px;
		color: $light;
		border-radius: 3px;
		font-size: 1.2em;
		margin: 20px;
		display: block;
		max-width: 110px;
		margin: 100px auto;
	}
	}
	h1 {
		padding-top: 15%; 
		margin: 0;
		color: $water;
	}
}

.list.section {
	.title {
		padding: 10px 0;
		text-align: center;
		color: $light;
		text-shadow: 2px 1px 2px $night;
		background: url(../img/banner_dark.jpg) no-repeat;
		background-size: cover;
		h1 {
			font-size: 2.5em;
		}
	}
}